<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Josh Parnham</string>
	<key>Builder Version</key>
	<string>8536.28.10</string>
	<key>CFBundleDisplayName</key>
	<string>Xcode-Stylerizer</string>
	<key>CFBundleIdentifier</key>
	<string>com.joshparnham.xcode-stylerizer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>content_script.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Correctly styles all occurences of 'Xcode'.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://joshparnham.com</string>
</dict>
</plist>
